:root {
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 176;
  line-height: 22px;
  color: #333333;

}

#page {
  background-color: #F5F4F0;
  margin: 88px 80px;
}

.divider {
  background-color: #D9D9D9;
  width: 100%;
  height: 2px;
  margin: 36px 0;
}

main img {
  border-radius: 25px;
  width: 100%;
  object-fit: cover;
  margin-top: 44px;

}

ol img {
  height: 375px;
}

/* .imagem{
  height: 375px;
} */


section > li {
  font-weight: bold;
  font-size: 28px;
  margin-left: 38px;
}

ul > li {
  margin-left: 16px;
}

ol, ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  color: #1B1B1B;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
  margin-bottom: 0;
}

.headline {
  font-weight: bold;
  color: #E1624F;
  text-transform: uppercase;
}

.subtitle{
  text-align: center;
  font-style: italic;
  margin-top: 24px;
  color: #1B1B1B;
}

footer {
  margin-top: 65px;
  margin-bottom: 48px;
  text-align: center;
}

footer img {
  vertical-align: middle;
}

ul li::marker {
  color: #333333;
  font-size: 0.7em;
}

ul li{
  list-style-type: disc;
  color: #0C51A7;
  
}

ul {
  font-weight: bold;
}

